<div class="container">
    <div class="row mt-3">
      <div class="col-sm">
      </div>
      <div class="col-sm">
        <div>
            <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d1976.4138131889435!2d110.14846618913319!3d-7.80806499869809!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x0%3A0xfc3ef065ce344b4a!2zN8KwNDgnMjkuMCJTIDExMMKwMDgnNTguMyJF!5e0!3m2!1sen!2sid!4v1651169735472!5m2!1sen!2sid" width="600rem" height="450rem" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
        </div>
      </div>
      <div class="col-sm">
      </div>
    </div>
  </div>